<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kataru Engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3FADA471FDD720D005CDA2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FADA611FDD720E005CDA2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FADA6C1FDD720E005CDA2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
